*{
   padding: 0;margin: 0;
   box-sizing: border-box;
   font-family: gilroy;
}

html,body{
    height: 100%;width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rect{
    height: 120px;
    width: 800px;
    background-color: lightskyblue;
    border-radius: 17px;
    padding: 0 20px;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 15px;
}

.progress{
    background-color: #fff;
    height: 25px;
    width: 660px;
    overflow: hidden;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.growth{
    height:25px;
    width: 0%;
    background-color: #EE4B2B;
}
button{
    padding: 7px 25px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor:pointer;
}
button:active{
    scale: 0.96;
}
.down{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    width: 15px;
}
